@import "https://fonts.googleapis.com/css?family=Lato";
@import "https://fonts.googleapis.com/css?family=Hind";
a,button{outline:0!important}
body,html{margin:0;padding:0}
body{background:#f9f9f9!important}

.message-user-image{
    margin-right:2px;
    border-radius:50%;
}

.message-user-image img{width:40px;border-radius:50%}

.gap-btw-msg {
    padding: 0 0 10px 0;
}

textarea{font-size:12px}
textarea.form-control{resize:none!important}
textarea.form-control.url-input{padding-top:3px;min-height:100px}
textarea.postText{border:none;padding-top:12px;padding-left:50px;height:45px;box-shadow:none}

@media all and (max-width:700px) {
.nav-tabs>li>a>span{display:none}
}
    @font-face {
        font-family: OpenSansLight;
        src: url("fonts/OpenSansLight/OpenSansLight.html") format("woff");
        font-weight: normal;
    }
    @font-face {
        font-family: OpenSansRegular;
        src: url("fonts/OpenSansRegular/OpenSansRegular.html") format("woff");
        font-weight: normal;
    }
    @font-face {
        font-family: OpenSansSemiBold;
        src: url("fonts/OpenSansSemiBold/OpenSansSemiBold.html") format("woff");
        font-weight: normal;
    }
    @font-face {
        font-family: OpenSansBold;
        src: url("fonts/OpenSansBold/OpenSansBold.html") format("woff");
        font-weight: normal;
    }
.navbar-default {
    background: #1e2321; border: none;
    height:45px;
}
.round-check input[type="checkbox"]:checked + label:before {
    background: #5a9e02 !important;
}
.modal-header {
	background: #1e2321;
    border-bottom: 1px solid #1e2321;
}
.modal-title, .modal-header .close {
    color: #ffffff;
}
.group-messages-wrapper a{
	color: #5a9e02 !important;
}
ul.profile-completion-bar li.completion-bar div.completion-bar-status {
	background: #5a9e02 !important;
}
.featured-users{
    background: #fff !important;
}
.result-bar {
    background: #5a9e02 !important;
}
.featured-users .sidebar-title-back, .featured-users .pro-me-here a {
    color: #444 !important;
}

.avtive {
	border-color: #5a9e02 !important;
}
#bar_loading {
    background-color: #ffffff !important;
}
.left-sidebar ul li a i {
	color: #5a9e02 !important;
}
.cs-loader-inner, .main  {
	color: #5a9e02;
}
.login input:focus, ul.profile-completion-bar li.completion-bar div.completion-bar-wrapper {
    border-color: #5a9e02 !important;
}
.login:not(.loading) button:hover {
    background: #6dbf04 !important;
    color: #ffffff;
}
.wo_setting_sidebar ul .list-group-item{
	background: #5a9e02;
}
.text-sender-container .list-group-item.red-list{
	background: rgb(90, 158, 2);
}

.chatHeaderColor{
    background:  rgb(90, 158, 2) !important;
}

.chatPanelPadding{
    padding-left: 0px;
    padding-right: 0px;
}

.wo_setting_sidebar ul .list-group-item a{
    color: #ffffff;
}
.wo_settings_page .setting-panel input[type=text]:focus, .wo_settings_page .setting-panel input[type=email]:focus, .wo_settings_page .setting-panel input[type=password]:focus, .wo_settings_page .setting-panel select:focus, .wo_settings_page .setting-panel textarea:focus {
    border-color: #03A9F4;
}

#search-nearby-users .nearby-users-relationship-collapse li.active .friends_toggle{
	border-color: #5a9e02;
}
#search-nearby-users .nearby-users-relationship-collapse li.active .friends_toggle:after{
	background: #5a9e02;
}
.my_pages_header ul li.active a{
	color: #5a9e02;
    border-color: #5a9e02;
}
.login button, .postCategory h5, .wo_search_page .nav-tabs li.active a {
    background: #5a9e02 !important;
    color: #ffffff !important;
}
.main-blog-sidebar .popular-categories li, #category-page .popular-categories li.active{ 
	background-color: #5a9e02;
}
.main-blog-sidebar .popular-categories li a, #category-page .popular-categories li.active a{
	color: #ffffff;
}
.mejs-controls .mejs-time-rail .mejs-time-current, .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current, .mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
    background-color: #5a9e02 !important;
    background: #5a9e02 !important;
    background-image: #5a9e02 !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff !important;
    background-color: #333333 !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .nav-names li:hover {
	color: #ffffff !important;
	background-color: #333333 !important;
}
body {
	background-color: #f9f9f9 !important;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-size: 13px;
}
a.unread-update {
	color: #ffffff !important;
}
.btn-main {
    color: #ffffff;
    background-color: #5a9e02;
    border-color: #5a9e02;
}
.btn-main:hover {
    color: #ffffff;
    background-color: #6dbf04;
    border-color: #6dbf04;
}
.active-wonder {
    color: #5a9e02;
}
.admin-panel .col-md-9 .list-group-item:first-child, .setting-panel .col-md-8 .list-group-item:first-child, .profile-lists .list-group-item:first-child, .col-md-8 .list-group-item:first-child, .col-md-3.custom .list-group-item:first-child, .col-sm-4 .list-group-item:first-child, .col-md-7 .list-group-item:first-child, .col-md-9 .list-group-item:first-child, .red-list .list-group-item:first-child, .active.list-group-item:first-child {
     color: #444;
     background-color: #fcfcfc;
     border-bottom: 1px solid #f1f1f1;
     padding: 13px;
}
.admin-panel .col-md-9 .list-group-item:first-child a, .setting-panel .col-md-8 .list-group-item:first-child a, .profile-lists .list-group-item:first-child a, .col-md-8 .list-group-item:first-child a, .col-md-7 .list-group-item:first-child a, .active.list-group-item:first-child a {
    color: #444 !important;
}
.list-group-item.black-list.active-list, .red-list.active-list {
    color: #ffffff;
    background-color: #5a9e02;
}
.list-group-item.black-list {
	background: #5a9e02;
}
.profile-top-line {
	background-color: #5a9e02;
}
#bar {
	background-color: #5a9e02;
}
.list-group-item.black-list a{
	color: #ffffff;
}
.list-group-item.black-list.active-list a{
	color: #5a9e02;
}
.main-color, .small-text a {
	color: #5a9e02 !important;
}
/* .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #ffffff;
    cursor: default;
    color: #5a9e02;
    border-bottom: 1px solid #5a9e02;
    background-color: transparent
} */
.btn-active {
    color: #ffffff;
    background: #5a9e02;
    outline: none;
    border: 1px solid #5a9e02}
.btn-active:hover, .btn-active:focus {
    border: 1px solid #6dbf04;
    color: #ffffff;
    background: #6dbf04;
}
.btn-active-color:hover {
    background: #6dbf04;
}
.chat-tab .online-toggle {
    background: #5a9e02;
}
.profile-style .user-follow-button button.btn-active, .btn-login, .btn-register {
    background: #5a9e02;
    color: #ffffff;
}
.profile-style .user-follow-button button.btn-active:hover, .btn-login:hover, .btn-login:focus, .btn-register:hover, .btn-register:focus {
    color: #ffffff;
    background: #6dbf04;
}
.panel-login>.panel-heading a.active {
    color: #5a9e02;
    font-size: 18px;
}
.hash {
	color: #5a9e02;
}
.message-text .hash {
	color: #fff !important;
}
.search-container .search-input {
    color: #ffffff !important;
    background: #0f1110 !important;
}
.chat-messages-wrapper .outgoing {
	background: #fff9f9;
}
.normal-container {
    width: 100%;
    height: 100%;
    margin-top: 15px;
}
.active.fa-thumbs-up {
	color: #5a9e02;
}
.api-ex-urls {
    background-color: #5a9e02; color: #ffffff;
}
.user-username {
    color: #5a9e02;
}
.upload-image {
    border: 3px dashed #5a9e02;
}
.events-tab-list li { background-color: #5a9e02; }
.events-tab-list li:hover { background-color: #5a9e02; }
.active-e-tab { background-color: #5a9e02 !important; }
.main { color: #5a9e02 !important; }
.events-list-dropup-menu ul li a:hover { background: #5a9e02; }
.usr-offline { color: #5a9e02; }
.blog-dd-ul li span:hover, .blog-dd-ul li a:hover { background: #5a9e02 !important; }
.blog_publ {background: #5a9e02 ; border: 1px solid #5a9e02 ; }
.ads-navbar-wrapper {
	background-color: #5a9e02 !important;
}
.slide-film-desc:hover, .movies-top-breadcrumb li:hover, .movies-top-breadcrumb li a:hover{
	color: #5a9e02 !important;
}
.movies h3.latest-movies, h3.recommended-movies {
	border-left: 3px solid  #5a9e02;
}
.wo_user_profile .user-bottom-nav li .menuactive {
    border-bottom: 2px solid #5a9e02;
	color:#5a9e02;
}
.ads-navbar-wrapper ul li a.active {
     background-color: #6dbf04 !important;
}
#welcomeheader .mdbtn:hover{background-color: #ffffff;color: #1e2321;border-color: #ffffff;}
.btn-default{background:#ebeef0;border:0}
svg.feather{vertical-align:middle;margin-top:-4px;width: 19px;height:19px;}
.time {
    font-size: 11px;
    color: #9197a3;
}
.text-sender-container .time {
    margin-top: 2px;
    font-size: 10px;
}
.text-sender-container .incoming .message-model .time {
    text-align: left;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: 0;
    background: #fff;
    cursor: inherit;
    display: none;
}
.video-icon, .delete-icon{
	font-size: 20px;
	cursor: pointer;
    /* margin-right: 4px; */
}
.video-icon .fa, .delete-icon .fa{
	vertical-align: super;
}
.clear{clear: both;}

.btn-main.MS-File{
    padding:13px;
    /* margin-right:-1px;
    border-radius:0!important */
}

.message-container{width:100%;height:100%}
.message-container .page-margin,.message-container .page-margin .row{margin:0}
.message-container .page-margin .col-lg-8,.message-container .page-margin .col-md-4{padding:0}
.mobilerightpane, .mobileleftpane{padding:0 !important}
.user-name-section{cursor:pointer;color:#555;}
.mobilerightpane .inner-addon{
    margin-bottom:0;
    margin-top: -1px;
    padding:10px;
    background:rgb(90, 158, 2)
}
.mobilerightpane .inner-addon svg.feather{position:absolute;margin:7px;pointer-events:none}
.mobilerightpane .inner-addon input{background-color:#f6f7f9;border-radius:16px}
.wo_msg_tabs{border-color:#ddd;background-color:#fff}
.wo_msg_tabs li{width:50%;box-shadow:0 2px 0 rgba(0,0,0,.09)}


.nomessage-container{
    height: calc(100vh - 96px);
}


.wo_msg_tabs li a{
    padding:9px 9px;
    /* height:100% */
}

.whiteTextColor{
 color:white !important;
}

.messages-users-list{height:calc(100vh - 242px);border-radius:0;background-color:#fff;overflow:hidden;overflow-y:auto}
.messages-recipients-list{height:64px;position:relative;cursor:pointer;border-bottom:1px solid #f1f1f1}
.messages-recipients-list:last-child{border-bottom:0 solid}

.messages-recipients-list:hover{
    background-color:#c5e0a1
}

.messages-recipients-list img{border-radius:50%;width:50px;height:50px;margin-right:20px;margin-top:7px;margin-left:20px}
.messages-recipients-list .messages-last-seen{font-size:11px;color:#999;margin-bottom:8px;margin-top:-15px}
.messages-recipients-list .messages-user-name{
    font-size:14px;
    /* line-height:47px; */
    font-weight:700
}
.new-message-alert{background-color:#ce3d3d;padding:3px 6px;border-radius:2px;color:#fff}
.mobilerightpane .new-message-alert{margin:19px 12px;display:block}
.text-sender-container{background:#f8f3f3;position:relative;border-radius:0;box-shadow:inset 6px 0 6px -3px rgba(0,0,0,.1);margin-bottom:0}
.text-sender-container .red-list{height:50px;box-shadow:0 1px 1px rgba(0,0,0,.19);padding:13px;z-index:10;background-color:#fff;position:relative}
.text-sender-container .red-list .ball-pulse{position:absolute;line-height:normal;margin:0;float:none;left:50%;top:50%;transform:translate(-50%,-50%)}
.text-sender-container .red-list .ball-pulse>div{background-color:#fff}
.text-sender-container .red-list .mobilemsgclose{display:none;cursor:pointer;margin:-5px 10px 0 0;width:23px;height:23px;stroke-width:2.5px}
.mobileleftpane .text-sender-container textarea{height:50px;padding:15px 140px 15px 13px;outline:0;width:calc(100% - 10px)!important;margin-bottom:9px;border-radius:8px!important;box-shadow:0 1px 4px rgba(0,0,0,.1);overflow:hidden}
.text-sender-container .message-contnaier{
    max-width:60%;margin:0 0px 0px;position:relative
}
.text-sender-container .sendMessages .input-group{padding:10px 20px 0}
.text-sender-container .sendMessages .input-group .messages-rtime{position:absolute;top:-30px;padding:8px 10px!important;background-color:#fff!important;left:-7px;border-radius:6px!important;box-shadow:0 0 0 1px rgba(0,0,0,.1),0 1px 10px rgba(0,0,0,.35)}
.text-sender-container .sendMessages .charsLeft-message{position:absolute;z-index:9;right:115px;top:12px}
.message-option-btns
{
    padding-right: 4px;
    position:absolute;z-index:9;
    right:10%;
    top:2px;
    display:table
}

@media screen and (min-width: 600px) {
    .message-option-btns
    {
        right: 6% !important;
    }
    }

.marginSendButton {
    /* margin-bottom: 10px; */
    margin-right: 5px;
}
.messageTextArea{
    margin-left: 4px;
}
.message-option-btns .btn{padding:15px 6px;background-color:transparent!important;color:#5b5b5b!important;border:none;margin:0 4px;box-shadow:none}
.text-sender-container .sendMessages .send-button{margin-top:-10px;border-radius:8px!important;box-shadow:0 1px 4px rgba(0,0,0,.1); background: rgb(90, 158, 2); border-color: rgb(90, 158, 2);}
.text-sender-container .deleteMessage{position:absolute;top:50%;left:-18px;cursor:pointer;color:#888;display:none;transform:translate(0,-50%)}
.text-sender-container .deleteMessage.right{left:auto!important;right:-18px}
.text-sender-container .deleteMessage svg.feather{margin-top:-3px;width:15px;height:15px}
.text-sender-container .time{margin-top:2px;font-size:10px}

.text-sender-container .message-model{
    /* width:auto!important; */
    width:100%;
    /* max-width:94%; */
    font-size:14px;padding:0 2px 1px;position:relative
}

.text-sender-container .message-model .message{
    padding:7px 13px;background:#fff;border-radius:17px;box-shadow:0 1px 1px 0 rgba(0,0,0,.15);margin-left:auto;display:table;line-height:1.4;margin-top:0;position:relative
}

.text-sender-container .message-model .messageType2{
    padding:7px 13px;background:#f7fafd;border-radius:17px;box-shadow:0 1px 1px 0 rgba(0,0,0,.15);margin-left:auto;display:table;line-height:1.4;margin-top:0;position:relative
}


.text-sender-container .message-model .video-js-responsive-container{min-width:300px}
.text-sender-container .message-model .message p{padding:1px}
.text-sender-container .message-model .message p .twa-lg{height:26px;width:26px;background-size:26px 26px}
.text-sender-container .outgoing .message-model{border-bottom-right-radius:2px}
.text-sender-container .incoming .message-model .message{margin-right:auto;margin-left:0}
.text-sender-container .incoming .message-model .time{text-align:left}
.message-media{position:relative}
.message-media img{max-width:100%}
.message-media audio{width:80%}
.messages-container{
    /* height:calc(100vh - 165px); */
    overflow:hidden;
    /* overflow-y:auto; */
    position:relative
}
.messages-container .empty_state{position:absolute;margin:0;top:50%;left:50%;transform:translate(-50%,-50%)}

.messages-container .message-contnaier:nth-child(1)
{margin-top:0px
}

.messages-container .message-media{transition:width .5s}
.messages-container .message-media img{max-width:100%;border:0;border-radius:8px;margin-bottom:-7px;margin-right:0;margin-left:0;max-height:330px}
.messages-container .message-media video{max-height:330px;width:auto!important}
.messages-container .message-media.full-size{width:100%}
.messages-load-more-messages{text-align:center;transition:all .2s ease;list-style:none;padding:2px;color:#fff;position:absolute;width:200px;background-color:rgba(0,0,0,.35);z-index:9;margin:0;left:50%;transform:translate(-50%);border-radius:0 0 5px 5px;cursor:pointer}
.messages-load-more-messages a{cursor:pointer;color:#fff}
.messages-wrapper{width:100%;padding:5px}
.messages-wrapper .name{color:#666;font-size:13px}
.messages-wrapper .user-avatar{width:40px;border-radius:3px}
.message{margin-top:1px}
.message p{color:#555;margin:0;word-wrap:break-word;word-break:break-word}
.message p:empty{padding:0}
.message-text a.hash{color: #a84849 !important;}
.message-option-btns .btn-file .fa{font-size: 20px;}
.message-option-btns label{margin-top: 0;}
/*  ----------------- CHANGES DONE ----------------------- */
@media (max-width:800px) {  
.mobileleftpane{
    position:fixed;
    height:100%;
    width:100%;z-index:1;padding:0;
    top:0px
}
/*  ------------------------------------------------------ */
.text-sender-container .red-list .mobilemsgclose{display:inline-block}
}
@media(max-width:800px){
	/* .text-sender-container{
	 height:100%;
	} */
	.text-sender-container .messagejoint{
	 /* position: fixed; */
	    bottom: 0;
    }
}

@media(max-width: 767px){
    .hideNoMsgChatPanel{
        display: none;
    }
}

.mbutton        {background:none;}
.mbutton.current{  
    background-color:rgb(210, 238, 157);
    margin-bottom: 1px !important;
}

.tabContent        {display:none;}
.tabContent.current{display:block;}


.customPadding{
    padding: 13px 31px !important;
}

.selectedUserColor{
    background-color: #a7d867;
}

.noMessageContainerText{
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 20%;
    opacity: 0.6;
}

.chatIcon{
    color: green;
    font-size: xx-large;
}

.unreadBadge{
    background-color: #59bb0ff2 !important;
}

.userTitleText{
    font-size: smaller;
    opacity: 0.9;
}