<div class="container-fluid" id="MainWrap" ng-controller="dashController">
  <!-- file upload throught button -->
  <form style="display: none">
    <input type="file" name="avatar" file-input="files" multiple />
    <button type="button" ng-click="upload()">submit</button>
  </form>
  <!-- file upload code ends -->

  <h1 ng-if="sessionDestroy">Session destroyed please login</h1>
  <div class="row" ng-if="!sessionDestroy">

    <!-- ----------------------------  -------------------------------------------------------- -->
    <!-- ---------------------------- LEFT BAR -------------------------------------------------- -->
    <!-- ----------------------------  -------------------------------------------------------- -->

    <div class="col-sm-3 col-md-3 col-lg-3 mobilerightpane"
      ng-click="disableMsgEdit(); showDDwnDisabler(); $event.stopPropagation()">
      <form method="post" class="messages-search-users-form">

        <div class="headind_srch">
          <div class="recent_heading width100">
            <div class="pro_img">
              <span ng-if="!user.user_image || user.user_image=='' || !projectData.profileImgLocation">
                <img class="importantHeight" src="images/noProfile.png" alt="{{user.name}}" />
              </span>
              <span ng-if="user.user_image && user.user_image != '' && projectData.profileImgLocation">
                <img class="importantHeight" src="{{projectData.profileImgLocation}}{{user.user_image}}"
                  alt="{{user.name}}" />
              </span>
            </div>
            <div class="statusDropDown hoverIt" ng-click="showDDwnSt(); $event.stopPropagation()" ng-class="stClass"
              ng-mouseover="imgStDrop(1)" ng-mouseout="imgStDrop(0)">
              <div class="fa fa-angle-down hidden stAngleDd"></div>
            </div>
            <h4>{{user.name}}</h4>
            <!-- <a href='javascript:void(0)' class='btn btn-default btnLogOut ' ng-click="logout()">
              <span class='glyphicon glyphicon-log-out'></span> Logout
            </a> -->
          </div>
        </div>

        <!-- ------------------- SEARCH FIELD ---------------------------------------------------- -->
        <div class="form-group inner-addon left-addon messages-search-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
          <input ng-model="keyword" type="text" name="query" id="query" class="form-control customPadding"
            placeholder="Search" autocomplete="off">
        </div>

        <div ng-if="projectData.broadcasting == 1"
          class='broadCastSec clearfix broadCaster col-sm-12 col-md-12 col-lg-12'>
          <div class="col-md-6  col-xs-6">
            <button id="live" type="button" ng-click="openBrModal()" class="btn btn-info btn-sm">
              <span class="glyphicon glyphicon-signal"></span> Live Broadcasting
            </button>

            <button style="background-color: tomato; margin-top: 5px;  padding: 5px 22px 5px 8px;" id="live" type="button" ng-click="ScreenshareModal()" class="btn btn-info btn-sm">
                <img src="../images/screenshare1.png" style="color: white; height: 20px;"> Screenshare
            </button>
          </div>
          
          <div class="col-md-6 col-sm-7 col-xs-6 text-right broadCastAv">
            <a class="forceWhiteColor" href='javascript:void(0)' ng-click="openAvModal()">
              Available ({{presenterArr.length}})
            </a>
          </div>
        </div>
        <!-- -------------------- --------------------------------------------------------- -->
        <!-- -------------------- TABS --------------------------------------------------------- -->
        <!-- -------------------- --------------------------------------------------------- -->

        <ul id="moodtabs" class=" nav nav-tabs wo_msg_tabs side bar tabs">
          <li id="tabs1" class="tab mbutton current" ng-click="chatActive()">
            <a data-toggle="tab" data-target="#users-message" id="user-message-tab">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-message-square" ng-class="{grpChecked: $parent.selection==$index}">
                <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
              </svg>
              Users
            </a>
          </li>
          <li id="tabs2" class="tab mbutton" ng-click="groupChatActive()">
            <a data-toggle="tab" data-target="#groups-message" id="groups-message-tab">

              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-grid">
                <rect x="3" y="3" width="7" height="7"></rect>
                <rect x="14" y="3" width="7" height="7"></rect>
                <rect x="14" y="14" width="7" height="7"></rect>
                <rect x="3" y="14" width="7" height="7"></rect>
              </svg>
              Groups
            </a>
          </li>
        </ul>

        <!--  ----------------- ---------------------------------------------------------- -->
        <!--  ------------------ USERS LIST ------------------------------------------------ -->
        <!--  ----------------- ---------------------------------------------------------- -->

        <div id="usersList" class="tab-content messages-users-list">

          <div ng-if="!groupSelected">
            <div id="users-message" class="messages-chat-list">
              <div ng-if="allUsers.length > 1">
                <div class="messages-recipients-list mobileopenlist" id="messages-recipient-3"
                  ng-repeat="userA in allUsers | search: keyword | orderBy: '-tempDate'"
                  ng-class="{grpChecked: $parent.selection==$index, selectedUserColor: selectedUserNo==$index}"
                  ng-click="$parent.selection=$index" ng-if="userA._id != user._id">

                  <div ng-click="startChat({type:1,user:userA, userIndex:$index })">
                    <span class="user-name-section">
                      <div class="pull-right">
                        <span class="new-message-alert hidden">0</span>
                      </div>
                      <div class="avatar pull-left">
                        <span ng-if="userA.onlineStatus == 0">
                          <span class="status userStatusMargin" ng-class="{offlineSt:userA.onlineStatus==0}"></span>
                        </span>
                        <span ng-if="userA.onlineStatus == 1">
                          <span class="status userStatusMargin"
                            ng-class="{activeSt:userA.pStatus==0,awaySt:userA.pStatus==1,dDisturbSt:userA.pStatus==2,invisSt:userA.pStatus==3}"></span>
                        </span>

                        <span ng-if="userA.user_image == '' || !projectData.profileImgLocation">
                          <img class="" ng-if="userA.receiverId != user._id" src="images/noProfile.png"
                            alt="{{user.name}}" />
                        </span>
                        <span ng-if="userA.user_image != '' && projectData.profileImgLocation">
                          <img class="" ng-if="userA.receiverId != user._id"
                            src="{{projectData.profileImgLocation}}{{userA.user_image }}" alt="{{userA.name}}" />
                        </span>
                      </div>
                      <div class="messages-user-name" style="padding: 10px 0 0 0;">
                        <span>{{userA.name}}</span>
                        <span ng-if="userA.hasOwnProperty('usCount')">
                          <span class="unreadMsgAlign" ng-if="userA.usCount != 0">
                            <span class="badge badge-pill badge-warning unreadBadge">{{userA.usCount}}</span>
                          </span>
                        </span>
                      </div>
                      <div>
                        <span class="userTitleText">{{userA.userTitle}}</span>
                      </div>
                    </span>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>

            <div ng-if="allUsers.length <=1">
              <div class="notfound">
                <p class="text-center">No friends found</p>
              </div>
            </div>

            <div ng-if="!usersLoaded">
              <img class="contatctLoadingImage" src="/images/loading.gif">
              <!-- <strong class="loadingText">Loading...</strong> -->
            </div>
          </div>
          <!--  ----------------- ---------------------------------------------------------- -->
          <!--  ----------------- GROUPS lIST ------------------------------------------------ -->
          <!--  ----------------- ---------------------------------------------------------- -->

          <div id="groups-message" class="messages-group-list">
            <div ng-if="groupSelected">
              <div ng-if="allGroups.length > 0">
                <div class="messages-recipients-list mobileopenlist" id="messages-recipient-3"
                  ng-repeat="groupA in allGroups" ng-class="{grpChecked: $parent.selection==$index}"
                  ng-click="$parent.selection=$index">
                  <div ng-click="startChat({type:2,group:groupA})">
                    <span class="user-name-section">

                      <div class="avatar pull-left">
                        <img alt="Kim Steve Profile Picture" src="../images/profile-photos/noProfile.png">
                      </div>
                      <span class="messages-user-name">{{groupA.name}}</span>
                    </span>

                    <div class="clear"></div>
                  </div>
                </div>
              </div>

              <div ng-if="allGroups.length <= 0" class="notfound">
                <p class="text-center">No groups found</p>
              </div>
            </div>
          </div>

        </div>

      </form>

      <ul class="statusDrpOptions hoverIt" ng-class="showDrpDwnSt?'':'hidden'">
        <li ng-class="currSt==0?'active':''" ng-click='changeSt(0)'>Active</a></li>
        <li ng-class="currSt==1?'active':''" ng-click='changeSt(1)'>Away</li>
        <li ng-class="currSt==2?'active':''" ng-click='changeSt(2)'>Do not disturb</li>
        <li ng-class="currSt==3?'active':''" ng-click='changeSt(3)'>Invisible</li>
      </ul>
    </div>

    <div class="clean"></div>

    <!-- --------------------- ----- ------------------------------------------------------ -->
    <!-- --------------------- CHAT PANEL ---------------------------------------------------- -->
    <!-- --------------------- ----- ------------------------------------------------------ -->

    <div class="col-sm-9 col-md-9 col-lg-9 mobileleftpane" ng-class="{hidden: !isChatPanel && isSidePanel}">
      <ul class="list-group text-sender-container"
        ng-click="disableMsgEdit(); showDDwnDisabler(); $event.stopPropagation()">

        <!-- -------------------- HEADER -------------------------------------------------- -->
        <li class="list-group-item red-list active-list text-muted chatHeaderColor" contenteditable="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-chevron-left mobilemsgclose" style="color:white" ng-click="chatBack()">
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg>

          <span id="user-name" class="">
            <!-- https://peekhelpers.com/job-detail/office-staff-required-1 -->
            <!-- http://peekhelpers.com/profile/4489 -->
            <span class="status-bar whiteTextColor" ng-if="groupSelected"> {{selGroupName}} </span>

            <a ng-if="userProfileUrl != ''" href="{{userProfileUrl}}" target="_blank">
              <span class="status-bar whiteTextColor" ng-if="!groupSelected"> {{selUserName}} </span>
            </a>
            <span ng-if="userProfileUrl == '' && !groupSelected" class="status-bar whiteTextColor">
              {{selUserName}}
            </span>

          </span>

          <span class="pull-right video-icon" style="margin-top: 3px;" ng-if="!groupSelected">
            <span ng-if="projectData.videoCall == 1" class="whiteTextColor" style="margin-right: 20px">
              <i id="videoCall" class="fa fa fa-video-camera" ng-click="videoCall(0)"></i>
            </span>
            <span ng-if="projectData.audioCall == 1" class="whiteTextColor">
              <i id="call" class="fa fa-phone" ng-click="videoCall(1, user._id)"></i>
            </span>
          </span>
        </li>

        <div onscroll="scrolled(this)" class="messagejoint msg_history" ng-class="{groupMsgHistory: groupSelected}"
          id="{{connectionId}}" file-dropzone files-to-upload='files'>
          <div class="messages-container">

            <!-- --------------  -------------------------------------------------------- -->
            <!-- -------------- NORMAL CHAT ------------------------------------------------ -->
            <!-- --------------  -------------------------------------------------------- -->

            <div ng-if="!groupSelected">
              <div ng-repeat="chat in chats track by $index">

                <!-- ---------------------  RECEIVED MESSAGES -------------------------------------->
                <div class="gap-btw-msg" ng-if="chat.senderId._id != user._id" ng-mouseover="showReplyIcon(chat._id,1)"
                  ng-mouseout="showReplyIcon(chat._id,0)">
                   <div ng-if="selectedUserData.user_image != ''" class="message-user-image pull-left">
                      <img src="{{projectData.profileImgLocation}}{{selectedUserData.user_image}}" alt="User image">
                   </div>

                   <div ng-if="selectedUserData.user_image == ''" class="message-user-image pull-left">
                      <img src="images/noProfile.png" alt="User image">
                   </div>

                  <div ng-if="!chat.isDeleted">
                    <div class="message-contnaier incoming pull-left">
                      <div class="messages-wrapper messages-text message-model pull-left">
                        <div class="clear"></div>
                        
                        <div class="time ajax-time text-right" title="{{chat.createdAt | date:'MM/dd/yy h:mm:ss a'}}">
                          {{selectedUserData.name}}, {{chat.createdAt | timeago}}
                        </div>

                        <div class="message" ng-if="chat.messageType == 0  && chat.chatType == 0">
                          <p class="message-text" dir="auto"> {{chat.message}} </p>
                          <div class="message-media">
                            <div class="clear"></div>
                          </div>
                        </div>

                        <!-- --------------- REPLY MSG ---------------------------------------------- -->
                        <div class="message" ng-if="chat.chatType == 1">
                          <p class="message-text" dir="auto">
                            <div class="panel panel-default replyPanel">
                              <div class="panel-body">{{chat.commentId.message}}</div>
                            </div>
                            {{chat.message}}
                          </p>
                          <div class="message-media">
                            <div class="clear"></div>
                          </div>
                        </div>

                        <a href="download/{{chat.message}}" ng-if="chat.messageType == 1">
                          <img src="/images/chatImages/{{chat.message}}" alt="{{chat.name}}" />
                        </a>
                        <a href="download/{{chat.message}}" ng-if="chat.messageType == 2">
                          <img class="messageType2Width" src="/images/fileIcon.png" alt="{{chat.name}}" />
                          <span>{{chat.message}}</span>
                        </a>

                      </div>

                      <span class="replyMenu" ng-if="replyIconId == chat._id" id="replyIcon-{{chat._id}}">
                        <span class='hoverIt fa fa-reply' ng-click="activateReply(chat)"></span>
                      </span>

                    </div>
                  </div>

                  <div ng-if="chat.isDeleted">
                    <div class="message-contnaier incoming pull-left">
                      <div class="messages-wrapper messages-text message-model pull-left">
                          <div class="time ajax-time text-right" title="{{chat.createdAt | date:'MM/dd/yy h:mm:ss a'}}">
                              {{chat.createdAt | timeago}}
                            </div>
                        <div class="deleted_received_msg">this message has been deleted</div>
                      </div>
                    </div>
                  </div>
                  <div class="clear"></div>
                </div>

                <!-- ---------------------  SENDING MESSAGES -------------------------------------->
                <div class="gap-btw-msg" ng-mouseover="showHideDots(chat._id,1)" ng-mouseout="showHideDots(chat._id,0)"
                  ng-if="chat.senderId._id == user._id">
                  <div ng-if="!chat.isDeleted">

                    <div class="clear"></div>

                    <div class="message-contnaier outgoing pull-right">
                      <div class="messages-wrapper messages-text message-model pull-right rightAlign">
                        <div class="clear"></div>
                        <div class="time ajax-time text-right" title="{{chat.createdAt | date:'MM/dd/yy h:mm:ss a'}}">
                          {{ chat.createdAt | timeago }}
                        </div>
                        <!-- --------------- NORMAL MSG ---------------------------------------------- -->
                        <div class="message" ng-if="chat.chatType == 0">
                          <p class="message-text" dir="auto">
                            {{chat.message}} 
                            <img ng-if="chat.isSeen == 0 && user.seenStatus == 1" src="../images/unseenMsg.png"
                              width="20px" height="20px">
                            <img ng-if="chat.isSeen == 1 && user.seenStatus == 1" src="../images/seenMsg.png"
                              width="20px" height="20px">
                          </p>
                          <div class="message-media">
                            <div class="clear"></div>
                          </div>
                        </div>

                        <!-- --------------- REPLY MSG ---------------------------------------------- -->
                        <div class="message" ng-if="chat.messageType == 0 && chat.chatType == 1">
                          <p class="message-text" dir="auto">
                            <div class="panel panel-default replyPanel">
                              <div class="panel-body">{{chat.commentId.message}}</div>
                            </div>
                            {{chat.message}}
                            <img ng-if="chat.isSeen == 0 && user.seenStatus == 1" src="../images/unseenMsg.png"
                              width="20px" height="20px">
                            <img ng-if="chat.isSeen == 1 && user.seenStatus == 1" src="../images/seenMsg.png"
                              width="20px" height="20px">
                          </p>
                          <div class="message-media">
                            <div class="clear"></div>
                          </div>
                        </div>

                        <!-- --------------- IMAGE MSG ---------------------------------------------- -->
                        <a href="download/{{chat.message}}" ng-if="chat.messageType == 1">
                          <img src="/images/chatImages/{{chat.message}}" ng-click="download(chat.message)" />
                        </a>

                        <!-- --------------- FILE MSG ---------------------------------------------- -->

                        <a class="messageType2 msgType2CenterAlign" href="download/{{chat.message}}"
                          ng-if="chat.messageType == 2">
                          <img class="messageType2Width" src="/images/fileIcon.png" alt="{{chat.name}}" />
                          <span class="msgType2Margin">{{chat.message}}</span>

                          <img ng-if="chat.isSeen == 0 && user.seenStatus == 1" src="../images/unseenMsg.png"
                            style="float: right" width="20px" height="20px">
                          <img ng-if="chat.isSeen == 1 && user.seenStatus == 1" src="../images/seenMsg.png"
                            style="float: right" width="20px" height="20px">
                        </a>

                        
                      </div>

                      <ul class="chatMenu" ng-if="editMsgId == chat._id && editMsgMenu1">
                        <li>
                          <span id="replyIcon-{{chat._id}}">
                            <span class='hoverIt fa fa-reply' ng-click="activateReply(chat)"></span>
                          </span>
                          <span ng-if="chat.messageType == 0" class='hoverIt fa fa-edit' tooltip-placement="left"
                            uib-tooltip="Edit" ng-click="editMsg()"></span>
                          <span class='hoverIt fa fa-remove' tooltip-placement="left" uib-tooltip="For me"
                            ng-click="deleteMsg('fromMe')"></span>
                        </li>
                      </ul>

                      <div class="top-left">
                        <img src="images/3dots.png" id='msg3dots-{{chat._id}}' style="left: 47%;"
                          class="msg3dotsNew hoverIt hidden" ng-click="editMenu(chat); $event.stopPropagation()" />
                      </div>
                    </div>

                    <div class="clear"></div>
                  </div>

                  <div class="message-contnaier outgoing pull-right" ng-if="chat.isDeleted">
                    <div class="messages-wrapper messages-text message-model pull-right">
                      <div class="clear"></div>
                      <div class="time ajax-time text-right" title="{{chat.createdAt | date:'MM/dd/yy h:mm:ss a'}}">
                          {{ chat.createdAt | timeago }}
                      </div>
                      <div class="message">
                        <p class="message-text" dir="auto">
                          this message has been deleted
                        </p>
                        <div class="message-media">
                          <div class="clear"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="clear"></div>
              </div>
            </div>

            <!-- --------------  -------------------------------------------------------- -->
            <!-- -------------- GROUP CHAT ------------------------------------------------ -->
            <!-- --------------  -------------------------------------------------------- -->

            <div ng-if="groupSelected">
              <div ng-repeat="chat in groupchats track by $index">

                <!-- ---------------------  RECEIVED MESSAGES -------------------------------------->
                <div class="gap-btw-msg" ng-if="chat.senderId._id != user._id" ng-mouseover="showReplyIcon(chat._id,1)"
                  ng-mouseout="showReplyIcon(chat._id,0)">
                  <div ng-if="!chat.isDeleted">
                    <div class="message-contnaier incoming pull-left">
                      <div class="messages-wrapper messages-text message-model pull-left">
                        <div class="clear"></div>

                        <div class="message" ng-if="chat.messageType == 0 && chat.chatType == 0">
                          <strong>{{chat.senderId.name}}</strong>
                          <p class="message-text" dir="auto"> {{chat.message}} </p>
                          <div class="message-media">
                            <div class="clear"></div>
                          </div>
                        </div>

                        <!-- --------------- REPLY GROUP MSG ------------------------------------------ -->
                        <div class="message" ng-if="chat.chatType == 1">
                          <p class="message-text" dir="auto">
                            <div class="panel panel-default replyPanel">
                              <div class="panel-body">{{chat.commentId.message}}</div>
                            </div>
                            {{chat.message}}
                          </p>
                          <div class="message-media">
                            <div class="clear"></div>
                          </div>
                        </div>

                        <a href="download/{{chat.message}}" ng-if="chat.messageType == 1">
                          <img src="/images/chatImages/{{chat.message}}" alt="{{chat.name}}" />
                        </a>
                        <a href="download/{{chat.message}}" ng-if="chat.messageType == 2">
                          <img class="messageType2Width" src="/images/fileIcon.png" alt="{{chat.name}}" />
                          <span>{{chat.message}}</span>
                        </a>

                        <div class="time ajax-time text-right" title="{{chat.createdAt | date:'MM/dd/yy h:mm:ss a'}}">
                          {{ chat.createdAt | timeago}}
                        </div>
                      </div>

                      <span class="replyMenu" ng-if="replyIconId == chat._id" id="replyIcon-{{chat._id}}">
                        <span class='hoverIt fa fa-reply' ng-click="activateReply(chat)"></span>
                      </span>

                    </div>
                    <div class="clear"></div>
                  </div>

                  <div ng-if="chat.isDeleted">
                    <div class="message-contnaier incoming pull-left">
                      <div class="messages-wrapper messages-text message-model pull-left">
                        <div class="deleted_received_msg">this message has been deleted
                        </div>
                        <div class="time ajax-time text-right" title="{{chat.createdAt | date:'MM/dd/yy h:mm:ss a'}}">
                          {{chat.createdAt | timeago}}
                        </div>
                      </div>
                    </div>
                    <div class="clear"></div>
                  </div>

                </div>

                <!-- ---------------------  SEND MESSAGES -------------------------------------->

                <div ng-mouseover="showHideDots(chat._id,1)" ng-mouseout="showHideDots(chat._id,0)"
                  ng-if="chat.senderId._id == user._id">
                  <div ng-if="!chat.isDeleted">

                    <div class="clear"></div>

                    <div class="message-contnaier outgoing pull-right">
                      <div class="messages-wrapper messages-text message-model pull-right rightAlign">
                        <div class="clear"></div>

                        <!-- --------------- NORMAL MSG ---------------------------------------------- -->
                        <div class="message" ng-if="chat.messageType == 0 && chat.chatType == 0">
                          <p class="message-text" dir="auto">
                            {{chat.message}}   
                          </p>
                          <div class="message-media">
                            <div class="clear"></div>
                          </div>
                        </div>

                        <!-- --------------- REPLY GROUP MSG ------------------------------------------ -->
                        <div class="message" ng-if="chat.chatType == 1">
                          <p class="message-text" dir="auto">
                            <div class="panel panel-default replyPanel">
                              <div class="panel-body">{{chat.commentId.message}}</div>
                            </div>
                            {{chat.message}}
                          </p>
                          <div class="message-media">
                            <div class="clear"></div>
                          </div>
                        </div>

                        <!-- --------------- IMAGE MSG ---------------------------------------------- -->
                        <a href="download/{{chat.message}}" ng-if="chat.messageType == 1">
                          <img src="/images/chatImages/{{chat.message}}" ng-click="download(chat.message)" />
                        </a>

                        <!-- --------------- FILE MSG ---------------------------------------------- -->

                        <a class="messageType2 msgType2CenterAlign" href="download/{{chat.message}}"
                          ng-if="chat.messageType == 2">
                          <img class="messageType2Width" src="/images/fileIcon.png" alt="{{chat.name}}" />
                          <span class="msgType2Margin">{{chat.message}}</span>
                        </a>


                        <div class="time ajax-time text-right" title="{{chat.createdAt | date:'MM/dd/yy h:mm:ss a'}}">
                          {{ chat.createdAt | timeago}}
                        </div>
                      </div>

                      <ul class="chatMenu" ng-if="editMsgId == chat._id && editMsgMenu1">
                        <li>
                          <span id="replyIcon-{{chat._id}}">
                            <span class='hoverIt fa fa-reply' ng-click="activateReply(chat)"></span>
                          </span>
                          <span ng-if="chat.messageType == 0" class='hoverIt fa fa-edit' tooltip-placement="left"
                            uib-tooltip="Edit" ng-click="editMsg()"></span>
                          <span class='hoverIt fa fa-remove' tooltip-placement="left" uib-tooltip="For me"
                            ng-click="deleteMsg('fromMe')"></span>
                        </li>
                      </ul>
                      <div class="top-left">
                        <img src="images/3dots.png" id='msg3dots-{{chat._id}}' style="left: 47%;"
                          class="msg3dotsNew hoverIt hidden" ng-click="editMenu(chat); $event.stopPropagation()" />
                      </div>

                    </div>

                    <div class="clear"></div>
                  </div>

                  <div class="message-contnaier outgoing pull-right" ng-if="chat.isDeleted">
                    <div class="messages-wrapper messages-text message-model pull-right">
                      <div class="clear"></div>
                      <div class="message">
                        <p class="message-text" dir="auto">
                          this message has been deleted
                        </p>
                        <div class="message-media">
                          <div class="clear"></div>
                        </div>
                      </div>

                      <div class="time ajax-time text-right" title="{{chat.createdAt | date:'MM/dd/yy h:mm:ss a'}}">
                        {{ chat.createdAt | timeago }}

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div> <!-- ---NG REPEAT ENDS --- -->
        </div>

        <div id='isTyping' class='hidden'> </div>

        <!--- ------------------------ SEND MESSAGE BOX ------------------------------------ -->
        <div>
        <div id="applyPic" class="input-group type_msg" ng-class="{type_msgMarginTopOvrr: isReplying == true }">

          <div id="commentsReply" class="showCommentsReply panel panel-default">
            <span ng-if="selectedMsg.messageType == 0">
              {{selectedMsg.message}}
            </span>

            <span ng-if="selectedMsg.messageType == 1">
              <img class="inputBoxImage" src="/images/chatImages/{{selectedMsg.message}}" />
            </span>

            <i class="fa fa-close exitReplyIcon" ng-click="deActivate()"></i>
          </div>

          <div style="position:relative" ng-click="unreadMsg({userId:selectedUserId})">
            <input type="text" id="sendMsg" class="form-control border0"
              ng-keydown="$event.keyCode === 13 && sendMessage()" ng-model="message" placeholder="Type a message">

            <span class="input-group-btn message-option-btns">
              <div class="col-md-1 col-xs-2 chatIcons">
                <span class='hoverIt' ng-click="sendMessage(0,message)">
                  <i class="fa fa-send" style="line-height: 2"></i>
                </span>
                <span class='hoverIt' onclick="triggerfile()">
                  <i class="fa fa-paperclip"></i>
                </span>
              </div>
            </span>
          </div>

          <span class="input-group-btn" ng-click="sendMessage(0,message)">
            <button id="sendMsgButton" class="btn-main btn btn-file MS-File send-button marginSendButton" type="button">
              <i class="fa fa-arrow-right"></i></button>

          </span>
        </div>
      </div>
      </ul>
    </div>

    <!-- ------------------ IF NO MSG CHATPANEL IS ACTIVATED ---------------------------------------- -->
    <div class="col-sm-9 col-md-9 col-lg-9 hideNoMsgChatPanel" style="padding-left: 0; padding-right: 0"
      ng-if="!isChatPanel">
      <ul class="list-group text-sender-container"
        ng-click="disableMsgEdit(); showDDwnDisabler(); $event.stopPropagation()">

        <li class="list-group-item red-list active-list text-muted chatHeaderColor" contenteditable="false">
          <span id="user-name" class="">
            <span class="status-bar whiteTextColor"> Chat </span>
          </span>
        </li>

        <div class="nomessage-container messagejoint msg_history">
          <div class="noMessageContainerText">
            <i class="fa fa-comments-o chatIcon"></i>
            <h4 style="font-size: xx-large;"> Select User From List</h4>
            <h6 style="font-size: larger;">to Start Chat</h6>
          </div>
        </div>
      </ul>
    </div>


    <div class="videoTabNew 2wayChat">
      <div id="remotes" class="ui large">
        <video id="videoOutput" autoplay poster="images/webrtc.png"></video>
      </div>
      <video id="local-video" autoplay poster="images/webrtc.png"></video>

      <div class="text-center screenButtons">
        <h4 id="timmer" class="hidden-xs"></h4>
        <button class="trans-btn exitTheScreen hidden" title="Exit full screen">
          <img src="images/exitFullScreen.png">
        </button>
        <button class="trans-btn makeFullScreen" title="Full screen">
          <img src="images/fullScreen.png">
        </button>
        <button class="trans-btn " ng-if="openVoice" ng-click='toggelMute()' title="Mute video">
          <img src="images/unmute1.png">
        </button>
        <button class="trans-btn " ng-if="!openVoice" ng-click='toggelMute()' title="Unmute video">
          <img src="images/mute1.png">
        </button>

        <button class="trans-btn" ng-if='showVideo' ng-click='toggelVideo()' title="Hide video">
          <img src="images/pause1.png">
        </button>
        <button class="trans-btn" ng-if='!showVideo' ng-click='toggelVideo()' title="Display video">
          <img src="images/resume1.jpg">
        </button>

        <!--<button class="trans-btn" title="share screen" onclick="shareScreen()"><img src="images/sharescreen.png"></button> -->
        <button class="trans-btn" title="call drop" ng-click="stopCall(1,chatWith || callerId);">
          <img src="images/calldrop2.png"></button>
      </div>
    </div>
  </div>


  <div id="checker" style="display: none"></div>

  <div class="audioTab">
    <div class='hidden'>
      <audio id="audioOutput" autoplay controls></audio>
      <audio id="audioInput" autoplay controls></audio>
    </div>
    <div class="incomming-card">
      <h4 id="audioTimmer"></h4>
    </div>
    <div class="incomming-btn-container">
      <button class="trans-btn " ng-if="openVoice" ng-click="toggelMute()" title="Mute video">
        <img src="images/unmute1.png">
      </button>
      <button class="trans-btn " ng-if="!openVoice" ng-click="toggelMute()" title="Unmute video">
        <img src="images/mute1.png">
      </button>
      <button class="trans-btn" title="call drop" ng-click="stopCall(1,chatWith || callerId);">
        <img src="images/calldrop.png">
      </button>
    </div>
  </div>

  <!-- incomming call modal -->
  <!-- incomming call modal -->

  <div id="incommingCall">
    <div class="incomming-card">
      <h4>incomming call</h4>
      <h1 id="callerName"></h1>
    </div>
    <div class="incomming-btn-container">
      <button title="Accept" class="incomming-card-btn success pull-left"
        ng-click="joinCall();connectUsers('updateconnectusers')">
        <i class="fa fa-phone color-green" aria-hidden="true"></i>
      </button>
      <button title="Decline" ng-click="callDrop('notReceive')" class="incomming-card-btn danger pull-right">
        <i class="fa fa-ban color-red" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <!-- Broadcasting modals start  -->
  <!-- Initial 1 start -->
  <div id="broadcastingModal" class="modal fade" role="dialog">
    <form ng-submit="broadcasting('video')">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Live Streaming</h4>
          </div>
          <div class="modal-body clearfix">
            <div class="form-group col-md-12">
              <div class="col-md-3">
                <label>Set password for Live stream</label>
              </div>
              <div class="col-md-2 hoverIt">
                <input type="radio" id='setPas1' ng-model="setPassword" name="setPassword" value='1'
                  ng-checked='setPassword == 1' />
                <label for="setPas1">Yes</label>
              </div>
              <div class="col-md-2 hoverIt">
                <input type="radio" id='setPas2' ng-model="setPassword" name="setPassword" value='0'
                  ng-checked='setPassword == 0' />
                <label for="setPas2">No</label>
              </div>
            </div>
            <div class="form-group col-md-12" ng-class="{hidden:setPassword==0}">
              <div class="col-md-6 col-md-offset-3">
                <input type="text" placeholder="Set Password" ng-model="liveStreamCode" class="form-control">
              </div>
            </div>
            <div class="form-group col-md-12 text-center">
              <label>
                <button type="button" class="btn btn-info btn-sm" ng-click="broadCastNow()">
                  <span class="glyphicon glyphicon-signal"></span> Broadcast Now !
                </button>
              </label>
            </div>
            <div class="col-md-12" ng-if='brErrorMsg'>
              <div class="alert alert-danger"> Enter correct password</div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="broadClose" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Present/View Broadcasting video -->
  <div id="videoBroadCast" class='hidden broadCastContainer bcModel'>
    <video class="videoScreenSize brVideoSize" id="broadCastVideo" autoplay poster="images/webrtc.png"></video>

    <button class="btn btn-danger btn-sm brStopButtonAlign" title="call drop" ng-click="stopBroadCast()">
      <span class='fa fa-close'></span> Stop
    </button>
  </div>
  <!-- end -->

  <!-- Show available presenter  -->
  <div id="avPresenterModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Presenters broadcasting now</h4>
        </div>
        <div class="modal-body">
          <div class="form-group col-md-12 clearfix">
            <ol ng-if="presenterArr.length>0">
              <li ng-repeat=" opt in presenterArr" ng-bind-html-unsafe="opt">
                <a href='javascript:void(0)' data-dismiss="modal" ng-click="becomeViewer(opt.preId,opt.password)">
                  {{ opt.preName }}
                </a>
                <i ng-if="opt.password">(Password required)</i>
              </li>
            </ol>
            <p class="text-center" ng-if="presenterArr.length==0">No presenter found</p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- Password required for presenter  -->
  <div id="passReqPre" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Enter password</h4>
        </div>
        <div class="modal-body clearfix">
          <div class="form-group col-md-12 clearfix">
            <div class="col-md-6 col-md-offset-3">
              <input type="text" placeholder="Password" ng-model="checkPassword" class="form-control">
            </div>
          </div>

          <div class="form-group col-md-12 text-center">
            <label>
              <button type="button" class="btn btn-info btn-sm" ng-click="checkBPass()">
                Submit
              </button>
            </label>
          </div>

          <div class="col-md-12" ng-if='brErrorMsg'>
            <div class="alert alert-danger"> Enter correct password !</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end -->

  <!-- Broadcasting modals end  -->
  <div class="alert alert-info alert-dismissible show callServerNoti" ng-if="projectData.videoCall == 1" ng-class="{hidden: o2oSocConEst}" role="alert">
    <span class='waitMsg'><strong>Wait!</strong> Connecting to calling server...</span>  
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 

          <!-- <div id="remotes" class="ui large">
              <video id="videoOutput" autoplay poster="images/webrtc.png"></video>
          </div> -->
         
  </div>
</div>
</div>
</div>

<script type="text/javascript">

  var socket = io.connect();
  
  $(document).on('click', '.mobileopenlist', function () {
    $('.mobileleftpane').fadeIn(100);
  });

  $('mobilemsgclose').on('click', function () {
    $('.mobileleftpane').fadeOut(100);
  });
  $('#groups-message-tab').on('click', function () {
    $('#groups-message').addClass('in active');
    $('#users-message').removeClass('in active');
    $('.user-pointer').removeClass('active');
    $('.group-pointer').addClass('active');
  });
  $('#user-message-tab').on('click', function () {
    $('#users-message').addClass('in active');
    $('#groups-message').removeClass('in active');
    $('.group-pointer').removeClass('active');
    $('.user-pointer').addClass('active');
  });
  function Wo_GetUserMessages(user_id, user_name, userlink) {
    view_more_wrapper = $('.view-more-wrapper');
    $('.text-sender-container').find('.ball-pulse').fadeIn(100);
    $('#user-name').html('<a style="color: #fff" target="_blank" href="https://www.talksns.com/' + userlink + '">' + user_name + '</a>').removeClass('hidden');
    $('#user-id').attr('value', user_id);
    $('#messages-group-id').attr('value', 0);
    $('#messages-recipient-' + user_id).find('.new-message-alert').fadeOut(200);
    $.get(Wo_Ajax_Requests_File(), {
      f: 'messages',
      s: 'get_user_messages',
      user_id: user_id
    }, function (data) {
      if (data.status == 200) {
        if (data.color) {
          $(".text-sender-container .red-list").css('background', data.color);
          $(".text-sender-container .btn-file").css('background', data.color);
          $(".text-sender-container .btn-file").css('border-color', data.color);
        }
        $('#charsLeft').text("640");
        Wo_getMessageSeen();
        $('.emo-message').fadeIn(200);
        $('.text-sender-container').find('.ball-pulse').fadeOut(100);
      }
    });
  }

  // Hide Header on on scroll down
  $(function () {
    var lastScrollTop = 0, delta = 5;
    $('.messages-container').scroll(function (event) {
      var st = $(this).scrollTop();

      if (Math.abs(lastScrollTop - st) <= delta)
        return;

      if (st > lastScrollTop) {
        // downscroll code
        $(".messages-load-more-messages").css("top", "27px")
          .hover(
            function () {
              $(".messages-load-more-messages").css("top", "50px");
            }
          )
      } else {
        // upscroll code
        $(".messages-load-more-messages").css("top", "50px");
      }
      lastScrollTop = st;
    });
  });

  function triggerfile() {
    $('input[name="avatar"]').trigger('click');
  }


  $(document).ready(function () {
    $("#example1").emojioneArea({
      standalone: true
    });
  });


  $(document).ready(function () {
    $("#sendMsg").emojioneArea({
      events: {
        keypress: function (editor, event) {
          socket.emit('typing');
        },
        keyup: function (editor, event) {
          this.source.val(this.getText());
          if (event.keyCode == 13) {
            var text = this.source.val();
            var scope = angular.element(document.getElementById("MainWrap")).scope();
            scope.$apply(function () {
              scope.message = text;
              scope.sendMessage();
            });
          }
        }
      }
    });


    $('.chat_list').click(function () {
      $('.chat_list').css("border-left", "1px solid red");
      $('.chat_list').addClass("active");
    });

    $('#side-btn').click(function () {
      $('#mobile-view-contact').toggle();
    });

    /* show docker*/
    $("body").on('click', '.addClass', function () {
      $('#sidebar_secondary').addClass('popup-box-on');
    });
    /* hide docker */
    $("#removeClass").click(function () {
      $('#sidebar_secondary').removeClass('popup-box-on');
    });

    $(".videoTabNew").draggable();
    $(".audioTab").draggable();
    $("#incommingCall").draggable();
    $("#videoBroadCast").draggable();
  });

  function removeVideoTab() {
    var ele = document.querySelector('.videoTabNew');
    ele.style.display = 'none';
  }

  function closeModal(id) {
    setTimeout(function () {
      $('#' + id).trigger('click');
    }, 100);
  }
  function toggle() {
    $('.mesgs1').show();
    $('#mobile-view-contact').hide();
  }

  $(document).on('click', '.makeFullScreen', function () {
    $(".2wayChat").addClass('fullScreen');
    $(this).addClass('hidden');
    $(".exitTheScreen").removeClass('hidden');
  });


  $(document).on('click', '.exitTheScreen', function () {
    $(".2wayChat").removeClass('fullScreen');
    $(this).addClass('hidden');
    $(".makeFullScreen").removeClass('hidden');
  });

  jQuery(function ($) { // DOM ready
    $('.tabs').each(function () {

      var $tab = $(this).find(".tab");

      $tab.on("click", function () {

        var tabId = this.id.replace(/\D/g, '');

        $tab.not(this).removeClass('current');
        $(this).addClass('current');

        $(".tabContent").removeClass("current");
        $("#tabs-" + tabId).addClass("current");

      });
    });
  });

  function scrolltopUserList() {
    var con = document.getElementById('usersList');
    con.scrollTop = 0;
  }


  function scrollbottom() {
    var con = document.getElementsByClassName('msg_history')[0];

    setTimeout(function () {
      con.scrollTo(0, $('.msg_history').prop("scrollHeight"));
    }, 200);
  }

  var executeOnce = false;
  var secondScrollHeight;
  var fTotalHeight;

  function scrollCustom() {
    var con = document.getElementsByClassName('msg_history')[0];
    setTimeout(function () {
      secondScrollHeight = con.scrollHeight - fTotalHeight;
      con.scrollTop = secondScrollHeight;
      fTotalHeight = con.scrollHeight;
    }, 200);
  }

  function scrolled(o) {
    if (!executeOnce) {
      executeOnce = true;
      fTotalHeight = o.scrollHeight;
    }

    //visible height + pixel scrolled = total height
    if (o.offsetHeight + o.scrollTop == o.scrollHeight) {
      // right now, no use ...
    }
    else if (o.scrollTop == 0) {
      angular.element(document.getElementById('MainWrap')).scope().getMoreChat();
    }
  }

  function resetScrollVar() {
    executeOnce = false;
    secondScrollHeight = 0;
    fTotalHeight = 0;
  }

</script>

<script>
    var userMessage = null;
    var isScreensharing = false;
    // Muaz Khan     - https://github.com/muaz-khan
    // MIT License   - https://www.webrtc-experiment.com/licence/
    // Documentation - https://github.com/muaz-khan/WebRTC-Experiment/tree/master/screen-sharing
    var videosContainer =
      document.getElementById("videos-container") || document.body;

    var roomsList = document.getElementById("rooms-list");
    var screensharing = new Screen();
    var channel = location.href.replace(/\/|:|#|%|\.|\[|\]/g, "");
    var sender = Math.round(Math.random() * 999999999) + 999999999;
    // https://github.com/muaz-khan/WebRTC-Experiment/tree/master/socketio-over-nodejs
    var SIGNALING_SERVER =
      "https://socketio-over-nodejs2.herokuapp.com:443/";
    //new-channel
    io.connect(SIGNALING_SERVER).emit("new-channel", {
      channel: channel,
      sender: sender
    });
    // var socket = io.connect(SIGNALING_SERVER + channel);
    var socket = io.connect();

    socket.on("connect", function() {
      // setup peer connection & pass socket object over the constructor!
      console.log("socket connect");
    });

    socket.send = function(message) {
      isScreensharing = true;
      userMessage = message;
      socket.emit("message", {
        sender: sender,
        data: message
      });
    };

    screensharing.openSignalingChannel = function(callback) {
      return socket.on("message", callback);
    };

    // *********** TESTING ******************************************************
    // function joinScreen() {
    //     screensharing.onscreen(userMessage);
    // }

    socket.on("receiveScreenMessage", function(screenData) {
      if (
        screenData.data.broadcasting &&
        screenData.data.userid != userMessage.userid
      ) {
        $("#sharedScreenId").removeClass("hideJoinButton");
        $("#sharedScreenId").addClass("showJoinButton");
        screensharing.onscreen(screenData.data);
      }
    });
    // *************************************************************************
    screensharing.onscreen = function(_screen) {
      console.log("on screen");
      console.log(_screen);
      var alreadyExist = document.getElementById(_screen.userid);
      if (alreadyExist) return;
      if (typeof roomsList === "undefined") roomsList = document.body;
      var tr = document.createElement("tr");
      tr.id = _screen.userid;
      tr.innerHTML =
        "<td>" +
        _screen.userid +
        " shared his screen.</td>" +
        '<td><button class="join">View</button></td>';
      roomsList.insertBefore(tr, roomsList.firstChild);
      var button = tr.querySelector(".join");
      button.setAttribute("data-userid", _screen.userid);
      button.setAttribute("data-roomid", _screen.roomid);
      button.onclick = function() {
        var button = this;
        button.disabled = true;
        var _screen = {
          userid: button.getAttribute("data-userid"),
          roomid: button.getAttribute("data-roomid")
        };
        console.log("-------------------------------");
        console.log(_screen);
        screensharing.view(_screen);
      };
    };
    // on getting each new screen
    screensharing.onaddstream = function(media) {
      // console.log("onaddstream");
      media.video.id = media.userid;
      var video = media.video;
      console.log("1");
     
      videosContainer.insertBefore(video, videosContainer.firstChild);
      var hideAfterJoin = document.querySelectorAll(".hide-after-join");
      for (var i = 0; i < hideAfterJoin.length; i++) {
        hideAfterJoin[i].style.display = "none";
      }
      console.log("2");
      if (media.type === "local") {
        addStreamStopListener(media.stream, function() {
          location.reload();
        });
      }
      console.log("3");
      //? --- for testing only --------------------------------------------------
      angular.element(document.getElementById('MainWrap')).scope().launchScreenshare(media.userid, 0, media);
      //? -----------------------------------------------------------------------
      console.log("4");
    };

    // using firebase for signaling
    // screen.firebase = 'signaling';
    // if someone leaves; just remove his screen
    screensharing.onuserleft = function(userid) {
      var video = document.getElementById(userid);
      if (video && video.parentNode) video.parentNode.removeChild(video);
      // location.reload();
    };
    // check pre-shared screens
    screensharing.check();
    document.getElementById("share-screen").onclick = function() {
      var username = document.getElementById("user-name");
      username.disabled = this.disabled = true;
      screensharing.isModerator = true;
      screensharing.userid = username.value;
      screensharing.share();
    };

    screensharing.onNumberOfParticipantsChnaged = function( numberOfParticipants) {
      if (!screensharing.isModerator) return;
      document.title =
        numberOfParticipants + " users are viewing your screen!";
      var element = document.getElementById("number-of-participants");
      if (element) {
        element.innerHTML =
          numberOfParticipants + " users are viewing your screen!";
      }
    };
  </script>
<!-- </body> -->