<div class="container" ng-controller="loginController">
    <div ng-init="user={}">
        <div class="login-form" ng-if="projectData.length != 0">
            <div class="main-div col-sm-4">
                <div class="panel">
                    <img ng-if="!projectData || !projectData.logo" src="images/favicon.png" />
                    <img ng-if="projectData && projectData.logo" src="{{projectData.logo}}" />

                    <h2 ng-if="projectData.name == ''">Chat</h2>
                    <h2 ng-if="projectData.name != ''">{{projectData.name}}</h2>

                    <p>Please enter your email and password</p>
                </div>

                <form id="Login">
                    <div ng-if="notAuthorize" class="alert alert-danger">invalid username or password</div>
                    <div class="form-group">
                        <input type="email" ng-model="user.email" class="form-control" id="inputEmail"
                            placeholder="Email Address">
                    </div>

                    <div class="form-group">
                        <input type="password" ng-model="user.password" class="form-control" id="inputPassword"
                            placeholder="Password">
                    </div>

                    <button ng-if="showLoginButton" type="button" class="btn btn-primary" ng-click="login()">Login</button>
                    <h6 ng-if="!showLoginButton" style="padding: 11px 0 0 0"><i>LOADING ...</i></h6>

                </form>
            </div>
        </div>
    </div>
 
    <span ng-if="projectData.length == 0">
        <!-- <h3 class="loadingLogin">Loading...</h3> -->
        <img class="loadingImage" src="/images/loading.gif">
    </span>
</div>