<div class="panel-header panel-header-sm">
</div>
<div class="main-content" *ngIf='activatedForm == 0'>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="card-title" style="font-size:25px; font-weight:500"> Groups </span>
          <!-- <hr> -->
          <!-- <button class="btn btn-primary" style="float: right" (click)="formActivation()"> Create Group </button> -->
          <span><i class="fa fa-user-plus user-icon" style="float: right; font-size:25px" (click)="formActivation()"></i></span>
        </div>
        <div class=" card-body">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Names
                </th>
                <th>
                  Total Users
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let group of groupsList; let g = index">
                  <td>
                    <p>{{group.name}}</p>
                  </td>
                  <td>
                      {{group.members.length}}
                  </td>
                
                  <input type="hidden" value="{{ group._id }}" #groupId>
                  <td>
                    <span> <i class="fa fa-edit px-3 user-icon" (click)="ManageGroupUsers(groupId.value)">  </i> </span>
                    <span> <i class="fa fa-trash px-3 user-icon" (click)="DeleteGroup(groupId.value, group.name)">  </i> </span>

                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <span *ngIf="totalGroups == 0">
          <p style="text-align: center">No data found</p>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------  --------------------------------------------- -->
<!-- ----------------------------- GROUPS ADD -------------------------------------- -->
<!-- -----------------------------  --------------------------------------------- -->

<div class="main-content" *ngIf='activatedForm == 1'>
  <div class="row">
    <div class="col-md-8 offset-md-1 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          <span class="title" style="font-size:25px; font-weight:500">Create Group</span>
          <!-- <button class="btn btn-primary" style="float: right" (click)="formActivation()"> Back </button> -->
          <span><i class="now-ui-icons arrows-1_minimal-left user-icon" style="float: right; font-size:30px"
              (click)="formActivation()"></i></span>

        </div>
        <div class="card-body">
          <form [formGroup]="userGroupsForm" (ngSubmit)="CreateGroup()">
            <div class="row">
              <div class="col-md-5 px-1">
                <div class="form-group">
                  <label>Names</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="group name">
                </div>
              </div>
            </div>

            <input class="btn btn-info btn-block" [disabled]="!userGroupsForm.valid" type="submit" value="submit">
          </form>

          <p style="text-align: center; color:rgb(157, 201, 90)"> {{genericMessage}} </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------  --------------------------------------------- -->
<!-- ----------------------------- USERS ADD IN GROUP ------------------------------ -->
<!-- -----------------------------  --------------------------------------------- -->

<div class="main-content" *ngIf='activatedForm == 2'>

  <div class="row">
    <div class="col-md-7 offset-md-3">
      <div class="card">
        <div class="card-header">
          <span class="card-title" style="font-size:25px; font-weight:500"> Users (to be add)</span>
          <span><i class="now-ui-icons arrows-1_minimal-left user-icon" style="float: right; font-size:30px"
              (click)="formActivation()"></i></span>
        </div>
        <div class="card-body">

          <select name="users" (change)="selectUser($event.target.value)" style="width: 70%">
            <!-- <option value="null" selected disabled hidden>select a user</option> -->
            <option value="null" *ngIf="selectedUserId == 0" selected disabled hidden>{{dropdownDefaultText}}</option>
            <option *ngFor="let user of usersList" [value]="user._id">{{user.name}}</option>
          </select>

          &nbsp; &nbsp;
          <button (click)="AddUserInGroup()"> add </button>

        </div>

        <table class="table">
          <thead class=" text-primary">
            <th>
              Names
            </th>
          </thead>

          <tbody>
            <tr *ngFor="let addedUser of addedUsersList">
              <td>
                {{addedUser.name}}
              </td>
              <td>
                <span> <i class="fa fa-minus" (click)="excludeUser(addedUser._id)"> </i> </span>
              </td>
            </tr>
          </tbody>

          <span *ngIf="addedUsersList?.length == 0">
            <p style="text-align: center">no user added in this group</p>
          </span>

        </table>
      </div>
    </div>