<div class="panel-header panel-header-sm">
</div>
<div class="main-content" *ngIf='activatedForm == 0'>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="card-title" style="font-size:25px; font-weight:500"> Groups </span>
          <hr>
          <!-- <button class="btn btn-primary" style="float: right" (click)="formActivation()"> Create Group </button> -->
          <span><i class="fa fa-users" style="float: right; font-size:25px" (click)="formActivation()"></i></span>
        </div>
        <div class=" card-body">
          <div class="">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <!-- <th>
                  Status
                </th> -->
                <th>
                  Total Users
                </th>
              </thead>
              <tbody>
                <tr *ngFor="let group of groupsList; let g = index">
                  <td>
                    <p>{{group.name}}</p>
                  </td>
                  <!-- <td>
                    <p>{{group.status}}</p>
                  </td> -->
                  <td>
                      {{group.members.length}}
                  </td>
                  <!-- <td> -->
                  <input type="hidden" value="{{ group._id }}" #groupId>
                  <!-- </td> -->
                  <td>
                    <div class="collapse navbar-collapse justify-content-end" id="collapseExample"
                      [ngbCollapse]="isCollapsed">

                      <ul class="">
                        <li class="nav-item removeStyle" ngbDropdown>
                          <a class="nav-link" id="dropdownBasic2" ngbDropdownToggle>
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </a>

                          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu
                            aria-labelledby="dropdownBasic2">
                            <a class="dropdown-item" (click)="ManageGroupUsers(groupId.value)">Manage Users</a>
                            <a class="dropdown-item" (click)="DeleteGroup(groupId.value)">Delete Group</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------  --------------------------------------------- -->
<!-- ----------------------------- GROUPS ADD -------------------------------------- -->
<!-- -----------------------------  --------------------------------------------- -->

<div class="main-content" *ngIf='activatedForm == 1'>
  <div class="row">
    <div class="col-md-8 offset-md-1 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          <span class="title" style="font-size:25px; font-weight:500">Create Group</span>
          <!-- <button class="btn btn-primary" style="float: right" (click)="formActivation()"> Back </button> -->
          <span><i class="now-ui-icons arrows-1_minimal-left" style="float: right; font-size:30px"
              (click)="formActivation()"></i></span>

        </div>
        <div class="card-body">
          <form [formGroup]="userGroupsForm" (ngSubmit)="CreateGroup()">
            <div class="row">
              <div class="col-md-5 px-1">
                <div class="form-group">
                  <label>Names</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="group name">
                </div>
              </div>
            </div>

            <input class="btn btn-info btn-block" [disabled]="!userGroupsForm.valid" type="submit" value="submit">
          </form>

          <p style="text-align: center; color:rgb(157, 201, 90)"> {{genericMessage}} </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------  --------------------------------------------- -->
<!-- ----------------------------- USERS ADD IN GROUP ------------------------------ -->
<!-- -----------------------------  --------------------------------------------- -->

<div class="main-content" *ngIf='activatedForm == 2'>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <span class="card-title" style="font-size:25px; font-weight:500"> Users (to be add)</span>
          <span><i class="now-ui-icons arrows-1_minimal-left" style="float: right; font-size:30px"
              (click)="formActivation()"></i></span>
        </div>
        <div class="card-body">

          <select name="users" (change)="selectUser($event.target.value)" style="width: 70%">
            <option value="null" disabled>Select a User</option>
            <option *ngFor="let user of usersList" [value]="user._id">{{user.username}}</option>
          </select>

          &nbsp; &nbsp;
          <button (click)="AddUserInGroup()"> add </button>

        </div>

        <table class="table">
          <thead class=" text-primary">
            <th>
              Names
            </th>
          </thead>

          <tbody>
            <tr *ngFor="let addedUser of addedUsersList">
              <td>
                {{addedUser.username}}
              </td>
              <td>
                <span> <i class="fa fa-minus" (click)="excludeUser(addedUser._id)"> </i> </span>
              </td>
            </tr>
          </tbody>

          <span *ngIf="addedUsersList?.length == 0">
            <p style="text-align: center">no user added in this group</p>
          </span>

        </table>
      </div>
    </div>