<div class="panel-header panel-header-sm">
</div>
<div class="main-content" *ngIf='activatedForm == 0'>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <span class="card-title" style="font-size:25px; font-weight:500"> Users </span>
          <!-- <span class="stats">
            <i class="now-ui-icons loader_refresh spin"></i>
          </span> -->
          <!-- <hr> -->
          <span><i class="fa fa-user-plus user-icon" (click)="formActivation()" style="font-size:25px; float: right"></i></span>
        </div>
        <div class="card-body">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  Name
                </th>
                <th>
                  Email
                </th>
                <th>
                  Country
                </th>
                <th>
                  Phone
                </th>
              </thead>

              <tbody *ngIf="this.totalUsers != 0">
                <tr *ngFor="let user of usersList; let i = index">
                  <td>
                    {{user.username}}
                  </td>
                  <td>
                    {{user.email}}
                  </td>
                  <td>
                    {{user.country}}
                  </td>
                  <td>
                    {{user.phone}}
                  </td>
                  <td>
                    <input type="hidden" value="{{ user._id }}" #userId>
                    <!-- <input type="hidden" value="{{user}}" #userId> -->
                  </td>
                  <td>
                      <span> <i class="fa fa-edit px-3 user-icon" (click)="updateForm(user)">  </i> </span>

                      <span> <i class="fa fa-trash px-3 user-icon" (click)="DeleteUser(userId.value, user.username)">  </i> </span>

                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <span *ngIf="totalUsers == 0">
          <p style="text-align: center">No data found</p>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------  --------------------------------------------- -->
<!-- ----------------------------- USER ADD ---------------------------------------- -->
<!-- -----------------------------  --------------------------------------------- -->

<div class="main-content" *ngIf='activatedForm == 1'>
  <div class="row">
    <div class="col-md-8 offset-md-1 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          <span class="title" style="font-size:25px; font-weight:500">Add Users</span>
          <!-- <button class="btn btn-primary" style="float: right" (click)="formActivation()"> Back </button> -->
          <span><i class="now-ui-icons arrows-1_minimal-left user-icon"  style="float: right; font-size:30px" (click)="formActivation()"></i></span>
        </div>
        <div class="card-body">
          <form [formGroup]="userAddFormGroup" (ngSubmit)="AddUser()" enctype="multipart/form-data">
            <div class="row">

              <div class="col-md-5 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" formControlName="username" placeholder="Username">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" id="email" type="email" formControlName="email" class="form-control"
                    placeholder="Email">
                </div>
              </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input name="password" id="password" type="password" (input)="passwordValidation(password, cpassword)"
                    formControlName="password" class="form-control" placeholder="password" #password>
                </div>
              </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="cpassword">Confirm Password</label>
                  <input name="cpassword" id="cpassword" type="password" (input)="passwordValidation(password, cpassword)"
                    formControlName="cpassword" class="form-control" placeholder="confirm password" #cpassword>
                </div>
              </div>
              <div class="col-md-8 pl-1">
                <span style="color: red"> {{ passwordMessage }} </span>
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" formControlName="country" placeholder="your country">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="number" class="form-control" formControlName="phone" placeholder="phone number">
                </div>
              </div>

            </div>
            <br>
       
            <input class="btn btn-info btn-block" [disabled]="!userAddFormGroup.valid" type="submit" value="submit">
          
          </form>
          <p style="text-align: center; color:rgb(157, 201, 90)"> {{genericMessage}} </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -----------------------------  --------------------------------------------- -->
<!-- ----------------------------- USER UPDATE ------------------------------------- -->
<!-- -----------------------------  --------------------------------------------- -->

<div class="main-content" *ngIf='activatedForm == 2'>
  <div class="row">
    <div class="col-md-8 offset-md-1 col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-header">
          <span class="title" style="font-size:25px; font-weight:500">Update User</span>
          <br>
          <span> ({{selectedUser.username}}) </span>
          <!-- <button class="btn btn-primary" style="float: right" (click)="DeActivateUpdateForm()"> Back </button> -->
          <span><i class="now-ui-icons arrows-1_minimal-left user-icon"  style="float: right; font-size:30px" (click)="DeActivateUpdateForm()"></i></span>

        </div>
        <div class="card-body">
          <form [formGroup]="userUpdateFormGroup" (ngSubmit)="UpdateUser()">
            <div class="row">

              <div class="col-md-5 px-1">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" [value]="selectedUser.username" formControlName="username"
                    placeholder="Username">
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input name="email" id="email" type="email" [value]="selectedUser.email" formControlName="email"
                    class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="password">New Password</label>
                  <input name="password" id="password" type="password" (input)="passwordValidation(password, cpassword)"
                    formControlName="password" class="form-control" placeholder="password" #password>
                </div>
              </div>
              <div class="col-md-5 pl-1">
                <div class="form-group">
                  <label for="cpassword">Confirm Password</label>
                  <input name="cpassword" id="cpassword" type="password" (input)="passwordValidation(password, cpassword)"
                    formControlName="cpassword" class="form-control" placeholder="confirm password" #cpassword>
                </div>
              </div>
              <div class="col-md-12 pl-1">
                <span style="color: red"> {{ passwordMessage }} </span>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" [value]="selectedUser.country" formControlName="country"
                    placeholder="your country">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="number" class="form-control" [value]="selectedUser.phone" formControlName="phone"
                    placeholder="phone number">
                </div>
              </div>
            </div>
            <input class="btn btn-info btn-block" type="submit" value="update">
          </form>
          <p style="text-align: center; color:rgb(157, 201, 90)"> {{genericMessage}} </p>
        </div>
      </div>
    </div>
  </div>
</div>