<div class="logo">
    <a class="simple-text logo-mini">
        <div class="logo-img">
            <label for="profile_img">
                <span *ngIf="userImage == null || userImage == ''">
                    <img src="/assets/img/noProfile.png"/>
                </span>
                <span *ngIf="userImage != null && userImage != ''">
                    <img [src]="userImage"/>
                </span>
            </label>
            <input type="file" id="profile_img" style="display: none" (click)="userImageUpload()">
        </div>
    </a>
    <a class="simple-text logo-normal">
        {{username}}
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems; let i = index"
            class="{{menuItem.class}} nav-item">
            <!-- <a [routerLink]="[menuItem.path]"></a> -->
            <a (click)="onSelection(i)">
                <input type="hidden" value={{i}}>
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <!--  <li routerLinkActive="active" *ngFor="let menuItem of menuItems; let i = index" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]"> -->
    </ul>
</div>