<div class="logo">
    <!-- <a class="simple-text logo-mini" *ngIf="userImage != null && userImage != ''"> -->
        <!-- <div class="logo-img"> -->
            <!-- <label for="profile_img"> -->
                <!-- <span *ngIf="userImage == null || userImage == ''">
                    <img class="img-responsive overrideMaxWidth" src="/assets/img/noProfile.png" />
                </span> -->
                <!-- <span>
                    <img class="img-responsive overrideMaxWidth" [src]="userImage" />
                </span> -->
            <!-- </label> -->
            <!-- <input type="file" id="profile_img" style="display: none" (click)="userImageUpload()"> -->
        <!-- </div> -->
    <!-- </a> -->
    <h3 class="adminTitle logo-normal"> Admin Panel </h3>
    <p class="nameLeftpading">   {{username}} </p>
    <!-- <a *ngIf="userImage != null && userImage != ''" class="simple-text logo-normal userNameTransform_withImage">
        {{username}}
      
    </a>
    <a *ngIf="userImage == null || userImage == ''" class="userName_noImage">
        {{username}}
    </a> -->
</div>

<!-- <span *ngIf="userImage != null && userImage != ''">
    <br><br><br><br><br><br> 
</span> -->

<div class="sidebar-wrapper">
    <ul class="nav">
        <li>
            <a (click)="onSelection(0)">
                <i class="now-ui-icons design_app" style="color: blanchedalmond"></i>
                <p>Dashboard</p>
            </a>
        </li>
        <li>
            <a (click)="onSelection(1)">
                <i class="fa fa-user" style="color: blanchedalmond"></i>
                <p>Users</p>
            </a>
        </li>
        <li>
            <a (click)="onSelection(2)">
                <i class="fa fa-users" style="color: blanchedalmond"></i>
                <p>Groups</p>
            </a>
        </li>
    </ul>
</div>