.dropdown-toggle::after {
    display:none;
}

.removeStyle{
     list-style: none;
}

.cursorPointer{
  cursor: pointer
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.user-icon:hover{
  cursor: pointer;
}

.fontWeighter{
  font-weight: 600;
}

.choosePicture{
  position: relative;
  top: 8px;
}
