
<!--==========================
    Title Text Section
  ============================-->
  <section id="title" class="clearfix homeTitleImage">
    <div class="container">
        <div class="col-md-12 title-info">
            <h2 class="titleStartText">Quick Integration of<span> Chat </span></h2>
          </div>
    </div>
  </section>


<!--==========================
    Intro Section
  ============================-->
<section id="intro" class="clearfix homeTitleImage">

  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-img order-md-last order-first">
        <!-- <img src="../../assets/home-page.png" alt="" class="img-fluid"> -->
      </div>
    </div>

  </div>
</section><!-- #intro -->

<main id="main">
  <!--==========================
      About Us Section
    ============================-->
  <section id="about">

    <div class="container">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img">
            <img src="../../assets/img/about-img.jpg" alt="">
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content">
            <h2>About Us</h2>
            <p>Peek International, is an IT services provider company which has skills and expertise to facilitate
              complex business solutions.</p>
            <p>We offer services of entire software, web development, Content Management Solutions and Creative Design
              from the very beginning until the end.
              Our overall process includes concept, design, development, incorporation, and implementation.
              We offer highest quality services to all of our clients regardless of their size and budget through our
              proven Project Management model.
              We have a squad of experts,who are working on modern technologies and tools with vast experience to carry
              out web based projects</p>
            <ul>
              <li><i class="ion-android-checkmark-circle"></i> Web Applications </li>
              <li><i class="ion-android-checkmark-circle"></i> Mobile Applications </li>
              <li><i class="ion-android-checkmark-circle"></i> Web Design </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #about -->

  <!--==========================
      Services Section
    ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <header class="section-header">
        <h3>Services</h3>
        <p>Peek International, started as an in house web development firm has grown & diversified itself into a leading
          service provider for local & international clients.
          We ideate ideas, craft them, decorate them & bring them to light when they are ready to shine brightly.
          By blending aesthetics & technical skills with proper pinch of modern look & functionality take our work to
          new heights of excellence.</p>
      </header>

      <div class="row">

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fceef3;"><i class="fa fa-laptop big icon-featured"
                style="color: #ff689b;"></i></div>
            <h4 class="title"><a href="">WEB DESIGN AND DEVELOPMENT</a></h4>
            <p class="description">Peek International have built web-based products for audiences of all styles and have
              changed the way of their thinking by providing highly innovative web apps with our experience</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #fff0da;"><i class="icon-featured fa fa-gears alias"
                style="color: #e98e06;"></i></div>
            <h4 class="title"><a href="">SEO SERVICES</a></h4>
            <p class="description">You can only be successful on the internet if you have a quality web design and
              quality traffic coming to your website. If it doesn't have a good web design, they won't trust you, Peek
              International have the best Quality SEO services</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #e6fdfc;"><i class="icon-featured fa fa-windows alias"
                style="color: #3fcdc7;"></i>
            </div>
            <h4 class="title"><a href="">WORDPRESS</a></h4>
            <p class="description">Peek International provides you the excellent quality web designing services.
              Whatever the material we include in our websites, the contents are according to customer's needs and
              requirements</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #eafde7;"><i class="icon-featured fa fa-mobile"
                style="color:#41cf2e;"></i></div>
            <h4 class="title"><a href="">RESPONSIVE DESIGN/BOOTSTRAP</a></h4>
            <p class="description">We care about our Clients. Clients are the reason for our existence and reputation.
              It is for them that we have the desire to improve our services gradually. We have always cared for
              customer satisfaction with our services.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #e1eeff;"><i class="icon-featured fa big fa-book"
                style="color: #2282ff;"></i>
            </div>
            <h4 class="title"><a href="">USER EXPERIENCE</a></h4>
            <p class="description">Peek International have a skilled team of IT experts that understands our customer's
              concerns and has dealt with every type of situation and met the demands of our clients. Our work and used
              technologies are considered the best in the market when it comes to reliability.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #ecebff;"><i class="icon-featured fa fa-gears alias"
                style="color: #8660fe;"></i>
            </div>
            <h4 class="title"><a href="">SOFTWARE DEVELOPMENT EXPERTISE</a></h4>
            <p class="description">Peek International have a skilled team of IT experts that understands our customer's
              concerns and has dealt with every type of situation and met the demands of our clients.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
      Why Us Section
    ============================-->
  <section id="why-us" class="wow fadeIn">
    <div class="container-fluid">

      <header class="section-header">
        <h3>Why choose us?</h3>
        <p>We are one of those companies which are providing high quality services from experts and covering Client's
          Satfisfaction as the top most priority</p>
      </header>

      <div class="row">

        <div class="col-lg-6">
          <div class="why-us-img">
            <img src="../../assets/img/why-us.jpg" alt="" class="img-fluid">
          </div>
        </div>

        <div class="col-lg-6">
          <div class="why-us-content">
            <p>We are covering almost every areas of Web Development in latest technologies in most reliable way. We
              covers:</p>
            <div class="features wow bounceInUp clearfix">
              <!-- <i class="fa fa-diamond" style="color: #f058dc;"></i> -->
              <h6>Responsive Web Design</h6>
            </div>

            <div class="features wow bounceInUp clearfix">
              <!-- <i class="fa fa-object-group" style="color: #ffb774;"></i> -->
              <h6>Online Stores / E-Commerce</h6>
            </div>

            <div class="features wow bounceInUp clearfix">
              <!-- <i class="fa fa-language" style="color: #589af1;"></i> -->
              <h6>Corporate Web Design</h6>
            </div>

            <div class="features wow bounceInUp clearfix">
              <!-- <i class="fa fa-language" style="color: #589af1;"></i> -->
              <h6>Content Management System</h6>
            </div>

          </div>

        </div>

      </div>

    </div>
  </section>

  <!--==========================
      Clients Section
    ============================-->
  <section id="testimonials">
    <div class="container">

      <header class="section-header">
        <h3>Testimonials</h3>
      </header>

      <div class="row justify-content-center">
        <div class="col-lg-8">

          <owl-carousel-o [options]="customTestimonialOptions">
            <ng-template carouselSlide>
              <div class="testimonial-item">
                <!-- <img src="../../assets/img/testimonial-1.jpg" class="testimonial-img" alt=""> -->
                <h3>heioten87</h3>
                <p>
                  Was excellent with the fast response and delivering it within a timely manner
                </p>
              </div>
            </ng-template>

            <ng-template carouselSlide>
              <div class="testimonial-item">
                <!-- <img src="../../assets/img/testimonial-2.jpg" class="testimonial-img" alt=""> -->
                <h3>Philips</h3>
                <p>
                  Quality of life is tough, but Peek International has a great brand <br>
                  and is a premier Peek International with a great history. You get as much responsibility as you can
                  handle.
                </p>
              </div>
            </ng-template>

            <ng-template carouselSlide>
              <div class="testimonial-item">
                <!-- <img src="../../assets/img/testimonial-3.jpg" class="testimonial-img" alt=""> -->
                <h3>JPaul</h3>
                <!-- <h4>Store Owner</h4> -->
                <p>
                  Peek International team did an excellent job. It was a complicated project and they did it well. I
                  look forward to continue working with them.
                </p>
              </div>
            </ng-template>

          </owl-carousel-o>

        </div>
      </div>

    </div>
  </section><!-- #testimonials -->

  <!--==========================
      Clients Section
    ============================-->
  <!-- <section id="clients" class="wow fadeInUp">
    <div class="container">

      <header class="section-header">
        <h3>Our Clients</h3>
      </header>

      <owl-carousel-o [options]="customClientOptions">
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-1.png" alt=""></ng-template>
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-2.png" alt=""></ng-template>
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-3.png" alt=""></ng-template>
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-4.png" alt=""></ng-template>
        <ng-template carouselSlide> <img class="clientLogoSize" src="../../assets/img/clients/client-5.png" alt=""></ng-template>
      </owl-carousel-o>

    </div>
  </section> -->
  <!-- #clients -->


  <!--==========================
      Pricing Section
    ============================-->
  <section id="pricing" class="wow fadeInUp section-bg">

    <div class="container">

      <header class="section-header">
        <h3>Pricing</h3>
        <p>We provide three different packages plan to our customer</p>
      </header>

      <div class="row flex-items-xs-middle flex-items-xs-center">

        <!-- Basic Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>45<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Basic Plan
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Private Chat</li>
                <li class="list-group-item">Group Chat</li>
                <li class="list-group-item">File transfer</li>
                <li class="list-group-item">Mobile Responsive</li>
                <br>
                <li class="list-group-item"><strong>12 months of software updates</strong></li>
                <li class="list-group-item"><strong>30 days of technical support</strong></li>
              </ul>
              <a routerLink="/packageForm" [queryParams]="{packageInfo: packagePlane1}" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

        <!-- Regular Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>120<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Premium Plan
              </h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>All Basic plan features, plus</strong></li>
                <li class="list-group-item">No 'Peek' branding</li>
                <li class="list-group-item">Audio chat functionality</li>
                <br>
                <li class="list-group-item"><strong>12 months of software updates</strong></li>
                <li class="list-group-item"><strong>45 days of technical support</strong></li>
              </ul>
              <a routerLink="/packageForm" [queryParams]="{packageInfo: packagePlane2}" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

        <!-- Premium Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <div class="card-header">
              <h3><span class="currency">$</span>280<span class="period">/month</span></h3>
            </div>
            <div class="card-block">
              <h4 class="card-title">
                Business Plan
              </h4>
              <ul class="list-group">
                <li class="list-group-item"><strong>All Premium plan features, plus</strong></li>
                <li class="list-group-item">Full SSL support</li>
                <li class="list-group-item">Video Chat functionality</li>
                <li class="list-group-item">Video Broadcast and chat functionality</li>
                <li class="list-group-item">Push Notifications</li>
                <br>
                <li class="list-group-item"><strong>Unlimited software updates</strong></li>
                <li class="list-group-item"><strong>1 year of technical support</strong></li>
              </ul>
              <a routerLink="/packageForm" [queryParams]="{packageInfo: packagePlane3}" class="btn">Choose Plan</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section><!-- #pricing -->

  <!--==========================
      Frequently Asked Questions Section
    ============================-->
  <section id="faq">
    <div class="container">
      <header class="section-header">
        <h3>Frequently Asked Questions</h3>
        <p>Some questions that clients frequently asked has already been added below</p>
      </header>

      <ul id="faq-list" class="wow fadeInUp">
        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq1">Does this app has a builtin chat system? <i
              class="ion-android-remove"></i></a>
          <div id="faq1" class="collapse" data-parent="#faq-list">
            <p>
              Yes, our app has fully integrated chat system
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">Does this app has audio and video chat
            functionality?<i class="ion-android-remove"></i></a>
          <div id="faq2" class="collapse" data-parent="#faq-list">
            <p>
              Yes, audio video chat has been intergrated in chat system.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">What if I want to broadcast my video and want
            comments on it? <i class="ion-android-remove"></i></a>
          <div id="faq3" class="collapse" data-parent="#faq-list">
            <p>
              You have to buy our Business plan package and use broadcast future with fully integrated chat system in
              it.
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq4" class="collapsed"> If I want to integrate this chat app in my website?
            <i class="ion-android-remove"></i></a>
          <div id="faq4" class="collapse" data-parent="#faq-list">
            <p>
              Yes, we provide functionality to integrate our chat app in any other website
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq5" class="collapsed">Is it Mobile Responsive? <i
              class="ion-android-remove"></i></a>
          <div id="faq5" class="collapse" data-parent="#faq-list">
            <p>
              Yes, it is fully compatible with mobile devices
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq6" class="collapsed">Does this app contains group chat? <i
              class="ion-android-remove"></i></a>
          <div id="faq6" class="collapse" data-parent="#faq-list">
            <p>
              Yes, our app provides group chat feature too
            </p>
          </div>
        </li>

      </ul>

    </div>
  </section><!-- #faq -->

</main>


<a *ngIf="moveUpBtnStatus" (click)="scrollToIntro()" class="RightCornerFix pointer"><i
    class="fa fa-chevron-up whiteColor"></i></a>