<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card  card-tasks">
        <div class="">
          <div class="table-full-width">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                   &nbsp; &nbsp; <span>Total Users: {{totalUsers}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="">
          <div class="table-full-width">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    &nbsp; &nbsp; <span>Total Groups: {{this.totalGroups}} </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>